*
{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

html, body
{
	//background-color: #1E90FF;
	background-color: #330066;
	padding: 0em;
	border: 0em;
	margin: 0em;
	height: 100%;

}

textarea
{
	background-color: #FFFFFF;
}

#content
{
	color: #FFFFFF;
}

#content h4
{
	padding: 1em;
}

#content p
{
	padding: 1em;
	font-size:12px;
}

a
{
	text-decoration: none;
	color: #FFFFFF;
}

a:hover
{
	text-decoration: underline;
}

th, td
{
	color: #FFFFFF;
	padding-left: 1em;
}

tr
{
	word-wrap: normal;
}

ul
{
	list-style-type: none;
}

li
{
	color: #FFFFFF
	margin-left: -12px;
	background: url(../images/whiteBullet.png) no-repeat 0;
	text-indent: 12px;
}

#navBar ul
{
list-style-type: none;
}

#navBar li
{
float: left;
padding: 1em;
background: none;
background-color: #550088;
}

.error

{
	text-align:center;
	color: #FF0000;

}
	
#header
{
	background-color: #FFFFFF;
	/*background-image: url(../images/headerGradient.png);*/

	background-repeat: repeat;
	padding: 0.2em;
	border: 0em;
	margin: 0em;
	clear: both;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -5em; /* the bottom margin is the negative value of the footer's height */
}

#header img
{
	float: left;
	width: 4em;
	height: 4em;
}

#content
{
	clear: both;
}

#footer
{

	font-size: 0.8em;

	font-style: italic;
	background-color: #FFFFFF;
	padding: 1em;
	/*
	border: 0em;
	margin-top: 10%;
	margin-left: 1em;
	margin-right: 1em;
	bottom: 0em;
	*/
	clear: both;
	height: 5em; /* .push must be the same height as .footer */
}

.push
{
	height: 5em; /* .push must be the same height as .footer */
}
/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/